body {
  margin: 0;
  width: 100%;
  max-width: 1440px;
  font-family: 'Montserrat', Sans-Serif, Arial;
}

a {
  text-decoration: none;
  color: #000;
}

.page1 {
  height: 900px;
  background: linear-gradient(to right, #000 32%, #fff 30%);
}

.menu-mini {
  display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  font: 500 30px/37px 'Montserrat', Sans-Serif, Arial;
  padding: 0.6vw 0 0 3.6vw;
  letter-spacing: 2px;
  color: #fff;
}

.language {
  font: 500 20px/24px 'Montserrat', Sans-Serif, Arial;
  padding: 0 0 0 15.8vw;
  color: #fff;
}

.menu {
  right: 0;
}

.main {
  background: url('img/pete-bellis-432867-unsplash.jpg') no-repeat;
  background-position-x: 21%;
  background-position-y: 35%;
}

.main__title {
  font: 700 80px/82px 'Montserrat', Sans-Serif, Arial;
  padding: 12% 0px 1% 55%;
  margin: 0;
}

.main__subtitle {
  font: 400 15px/21px 'Montserrat', Sans-Serif, Arial;
  padding: 0.5% 0 2.5% 54.8%;
  margin: 0;
  width: 32%;
}

.main__links {
  padding: 0 0 7.5% 54.5%;
  margin: 0;
}

.main__links-button {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  /* padding: 12px 39px; */
  border: 1.5px solid black;
  /* text-decoration: none; */
  /* color: black; */
  margin-right: 7.2%;
  height: 2.8vw;
  width: 14vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.main__links-ref {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  text-decoration: none;
  color: black;
  margin-right: 2.5%;
  display: inline-block;
  align-items: center;
  /* text-align: center; */
}

.main__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__bottom-icon {
  padding: 3.3% 0 0% 3.6%;
  width: 12%;
}

.icon {
  margin-right: 5%;
}

.main__bottom-scrooll {
  padding: 3.2% 15.5% 0% 0%;
}

.main__bottom-blanc {
  width: 1px;
  height: 1px;
}

.page2 {
  background-color: #FAE8E4;
  height: 900px;
  /* margin: 0; */
}

.pic2 {
  position: relative;
}

.pink {
  position: absolute;
  top: 2vw;
  left: 16vw;
  overflow: auto;
}

.gray {
  position: absolute;
  top: 15vw;
  left: 8.5vw;
  overflow: auto;
}

.main2 {
  background-color: #fff;
  display: inline-block;
  margin: 11.5% auto auto 61%;
  width: 30%;
  height: 57%;
  padding: 1% 0% 2% 4%;
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 40%);
}

.title2 {
  font: 700 40px/41px 'Montserrat', Sans-Serif, Arial;
  margin-bottom: 3%;
}

.subtitle2 {
  display: flex;
  font: 700 16px 'Montserrat', Sans-Serif, Arial;
  opacity: .5;
  margin: 0% 0% 12% 0%;
  padding-bottom: 3px;
  letter-spacing: 1px;
}

.text {
  font: 400 15px/21px 'Montserrat', Sans-Serif, Arial;
  opacity: .5;
  width: 85%;
  padding-top: 1%;
}

.info {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 7%; */
  /* padding: 5% 16% 0% 0%; */
  width: 84%;
  height: 17%;
  padding-top: 5%;
}


.choice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
  padding: 5% 16% 0% 0%;
}

.colors {
  width: 50%;
}

.circles {
  margin-right: 4%;
  padding-top: 6%;
  cursor: pointer;
}

.prise {
  font: 700 40px/56px 'Montserrat', Sans-Serif, Arial;
  margin-right: 2%;
}

.bottom,
.bottom2 {
  display: inline-block;
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  justify-content: end;
}

.bottom {
  /* margin-right: 5.5%; */
  padding: 2% 0.5% 1% 61.5%;
}

.pages {
  /* padding: 11px 33px; */
  height: 2.8vw;
  width: 6.6vw;
  border: 1.5px solid black;
  margin-right: 2%;
  font: 500 15px 'Montserrat', Sans-Serif, Arial;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.bucket {
  /* padding: 11px 42px; */
  height: 2.8vw;
  width: 17.2vw;
  border: 1.5px solid black;
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.page3 {
  height: 900px;
  position: relative;
  background: linear-gradient(to right, #EBE3D8 27%, #000 27%, #000 32%, #EBE3D8 32%);
}

.main3 {
  background-color: #FAE8E4;
  display: inline-block;
  margin: 17.7% 0 1.7% 56.7%;
  width: 30%;
  height: 39%;
  padding: 0% 0% 0% 3.2%;
  z-index: 3;
  position: relative;
}

.bottom2 {
  display: inline-block;
  padding: 0% 0.7% 1% 65.8%;
  z-index: 3;
  position: relative;
}

.title3 {
  font: 700 40px/41px 'Montserrat', Sans-Serif, Arial;
  margin: 0 0 3% 0;
  padding: 9% 0 0 0%;
}

.subtitle3 {
  font: 700 16px 'Montserrat', Sans-Serif, Arial;
  opacity: .5;
  margin: 0 0 7.5% 0;
  letter-spacing: 1px;
  padding-left: 0.6%;
}

.text2,
.text3 {
  font: 400 15px/21px 'Montserrat', Sans-Serif, Arial;
  opacity: .5;
  width: 80%;
  margin: 0 0 0% 0;
  padding-left: 1%;
}

.text3 {
  margin-bottom: 13%;
}

.pic3 {
  position: absolute;
  top: 9.5vw;
  left: 6vw;
  overflow: auto;
  z-index: 2;
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 40%);
}

.pages2 {
  /* padding: 10px 33px; */
  height: 2.8vw;
  width: 6.8vw;
  border: 1.5px solid black;
  margin-right: 2%;
  font: 500 15px 'Montserrat', Sans-Serif, Arial;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.bucket2 {
  /* padding: 12px 42px; */
  height: 2.8vw;
  width: 17.2vw;
  border: 1.5px solid black;
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text4 {
  font: 700 12px/15px 'Montserrat', Sans-Serif, Arial;
  display: flex;
  justify-content: flex-end;
  padding: 12.2% 1.5% 0 0;
}

.WH {
  padding: 0 0 0 1%;
}

.language:hover,
.main__links-button:hover,
.arrow:hover,
.icon:hover,
.main__bottom-scrooll:hover,
.circles:hover,
.pages:hover,
.bucket:hover,
.arrow2:hover,
.pages2:hover,
.bucket2:hover,
.arrow3:hover,
.menu-mini:hover {
	opacity: 0.5;
}

@media (max-width: 380px) {

.page1 {
    background: #fff;
}

.logo {
  color: #000;
  padding: 0% 0% 7% 7%;
}

.menu {
  display: none;
}

.menu-mini {
  display: block;
  right: 0;
}

}
