body {
  margin: 0;
  width: 100%;
  max-width: 1440px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  font: 500 30px/37px 'Montserrat', Sans-Serif, Arial;
  padding: 36px 0 23px 52px;
  color: #fff;
}

.language {
  font: 500 20px/24px 'Montserrat', Sans-Serif, Arial;
  padding: 0 0 0 15.8vw;
  text-decoration: none;
  color: #fff;
}

.menu {
  right: 0;
}

.page1 {
  background: linear-gradient(to right, #000 32%, #fff 30%);
}

.main {
  background: url('img/pete-bellis-432867-unsplash.jpg') no-repeat;
  background-position-x: 21%;
  background-position-y: 35%;
}

.main__pic {

}

.main__title {
  font: 700 80px/82px 'Montserrat', Sans-Serif, Arial;
  padding: 12% 0 1% 55%;
  margin: 0;
}

.main__subtitle {
  font: 400 15px/21px 'Montserrat', Sans-Serif, Arial;
  padding: 0.5% 15% 4% 55%;
  margin: 0;
}

.main__links {
  /* position: relative; */
  padding: 0 0 7.5% 54.5%;
  margin: 0;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.main__links-button {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  padding: 12px 45px;
  border: 1.5px solid black;
  text-decoration: none;
  color: black;
  margin-right: 8%;
  /* display: inline-block; */
}

.main__links-ref {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  text-decoration: none;
  color: black;
  margin-right: 5%;
  display: inline-block;
}

.main__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__bottom-icon {
  padding: 3.5% 0 0% 3.5%;
  width: 12%;
}

.icon {
  margin-right: 5%;
}

.main__bottom-scrooll {
  padding: 0 18% 0 0px;
}

.main__bottom-blanc {
  width: 1px;
  height: 1px;
}
