body {
  margin: 0;
  width: 100%;
  max-width: 1440px;
  font-family: 'Montserrat', Sans-Serif, Arial;
}

a {
  text-decoration: none;
  color: #000;
}

.first-page {
  height: 900px;
  background: linear-gradient(to right, #000 32%, #fff 30%);
}

.menu-mini,
.third-arrow-mini,
.first-arrow-down {
  display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  font: 500 30px/37px 'Montserrat', Sans-Serif, Arial;
  padding: 0.6vw 0 0 3.6vw;
  letter-spacing: 2px;
  color: #fff;
}

.language {
  font: 500 20px/24px 'Montserrat', Sans-Serif, Arial;
  padding: 0 0 0 15.8vw;
  color: #fff;
}

.menu {
  right: 0;
}

.first-page__main {
  background: url('img/pete-bellis-432867-unsplash.jpg') no-repeat;
  background-position-x: 21%;
  background-position-y: 5%;
}

.first-page__title {
  font: 700 80px/82px 'Montserrat', Sans-Serif, Arial;
  padding: 7.5% 0px 1% 54.7%;
  margin-bottom: 0;
}

.first-page__subtitle {
  font: 400 15px/21px 'Montserrat', Sans-Serif, Arial;
  padding: 0.2% 0 2.6% 54.8%;
  margin: 0;
  width: 32%;
}

.first-page__links {
  padding: 0px 0 7.5% 54.5%;
  margin: 0;
}

.first-page__links-read {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  /* padding: 12px 39px; */
  border: 1.5px solid black;
  /* text-decoration: none; */
  /* color: black; */
  margin-right: 7.4%;
  height: 2.8vw;
  width: 14vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.first-page__links-other {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  text-decoration: none;
  color: black;
  margin-right: 2.5%;
  display: inline-block;
  align-items: center;
  /* text-align: center; */
}

.first-page__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-page__bottom-icon {
  padding: 3.3% 0 0% 3.6%;
  width: 12%;
}

.icon {
  margin-right: 5%;
}

.first-page__bottom-scrooll {
  padding: 3.2% 15.5% 0% 0%;
}

.first-page__bottom-blanc {
  width: 1px;
  height: 1px;
}


.language:hover,
.first-page__links-read:hover,
.first-arrow:hover,
.icon:hover,
.first-page__bottom-scrooll:hover,
.circles:hover,
.second-page__amount:hover,
.second-page__bucket:hover,
.second-arrow:hover,
.third-page__amount:hover,
.third-page__bucket:hover,
.third-arrow:hover,
.menu-mini:hover {
	opacity: 0.5;
}
