body {
  margin: 0;
  width: 100%;
  max-width: 1440px;
}

.header {
    position: relative;
}

.logo {
  font: 500 30px/37px 'Montserrat', Sans-Serif, Arial;
  display: inline-block;
  margin-right: 238px;
  padding: 36px 0 0 52px;
  color: #fff;
}

.language {
  font: 500 20px/24px 'Montserrat', Sans-Serif, Arial;
  display: inline-block;
  position: relative;
  padding: 0 0 0 6px;
  text-decoration: none;
  color: #fff;
}

.menu {
  display: inline-block;
  position: absolute;
  right: 0;
}

.pic {
  background: url('img/Rectangle.svg') no-repeat top left;
  position: relative;
}

.main {
  background: url('img/pete-bellis-432867-unsplash.jpg') no-repeat;
  position: relative;
  background-position-x: 21%;
  background-position-y: 29%;
}

.main__title {
  font: 700 80px/82px 'Montserrat', Sans-Serif, Arial;
  padding: 204px 176px 0 792px;
  margin: 0;
}

.main__subtitle {
  font: 400 15px/21px 'Montserrat', Sans-Serif, Arial;
  padding: 12px 184px 56px 789px;
  margin: 0;
}

.main__links {
  position: relative;
  padding: 0px 163px 241px 786px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__links-button {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  padding: 14px 41px;
  border: 1.5px solid black;
  text-decoration: none;
  color: black;
  margin-right: 54px;
  display: inline-block;
}

.main__links-ref {
  font: 500 13px 'Montserrat', Sans-Serif, Arial;
  text-decoration: none;
  color: black;
  margin-right: 19px;
  display: inline-block;
}

.main__bottom {
  position: relative;
  left: 51px;
  bottom: 88px;
}

.main__bottom-icon {
  display: inline-block;
  margin-right: 8px;
}

.main__bottom-scrooll {
  display: inline-block;
  padding-left: 491px;
}

.main__bottom-scrooll-line {
  position: relative;
  display: flex;
  padding-left: 668px;
  bottom: 38px;
}
